#root {
  height: 100%;
}

.wrapper--editor {
  height: 100%;
  background-color: #eee;
  max-width: 1400px;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper--go {
  height: 100%;
}

.main-page {
  background-color: #eee;
  display: flex;
  min-height: 100%;
}

.left-drawer {
  overflow-y: hidden;
  flex: 1 0 10rem;
  background-color: #666;
  align-self: stretch;
}

.flyer-preview {
  background-color: #fff;
  width: 100%;
  flex: 1 1 auto;
  margin: 2rem 2rem 6rem 2rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  min-height: 480px;
  max-height: 700px;

  &__browser-chrome {
    height: 2rem;
    background-color: #666;
  }
  &__content {
    height: calc(100% - 2rem);
    min-width: 1040px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }


}
