// The below works as follows
// Mobile view, the media is full width. Single column content
// Tablet portrait view (540px-769px), the media is 85% width with equal space around. Single column content
// Small desktop view (780-1079px)
//   Shorter than 12:7 is a 5col-7col content-media split, media is full width and height, min-height 480px
//   12:7 and taller is same split, but media is 'floated'
// Medium desktop view (1080-1399px)
//   Shorter than 12:7 is same as above, but with a min-height of 540px
//   12:7 and taller, it becomes a 50-50 split and media is 'floated'
// Large desktop view (1400px+)
//   layout is adjusted to a max-width of 1380, media has min-heigh of 690
//   media is floated to the right of container, not browser at all heights

.header-toolbar {
  height: 4rem;
  position: relative;
  @media screen and (min-width: 769px) {
    width: 100%;
    position: fixed;
    z-index: 1;
    &__logo {
      text-transform: uppercase;
      font-size: 14px;
      padding-top: 1.2rem;
      padding-left: 1rem;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
  @media screen and (min-width: 1460px) {
    // in case we want to contain the header too
    // width: 1440px;
    // left: 50%;
    // margin-left: -720px;
  }
}

.rsvp-button {
  position: fixed;
  left: 3rem;
  bottom: 3rem;
}

.two-columns { // to extend to full height of screen
  min-height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}



.blocks-list {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  align-items: center;
  order: 2;
  @media screen and (min-width: 769px) {
    flex: 0 0 auto;
    order: 1;
    width: calc(100vw - 100vh + 4rem);
    max-width: 58vw;
    min-width: 42vw;
    margin-top: 4rem;
  }

  .block {
    display: flex;
    flex-direction: column;
    &.basic-info {
      &__title {
        align-self: center;
      }
    }
  }
}

.media-wrapper {
  display:flex;
  flex: 1 100%;
  order: 1;
  justify-content: center;
  align-content: center;
  flex-flow:column nowrap;
  position: relative;

  @media screen and (min-width: 540px) {
    margin: 2rem 2rem 0 2rem;
  }

  @media screen and (min-width: 769px) {
    flex: 1 1 0;
    flex-basis: 0;
    order: 2;
    // width: calc(100vw - (100vh - 4rem));
    height: auto;
    min-width: 42vw;
    background-color: lighten($background-color, 7%);
    margin: unset;
  }
  @media screen and (min-width: 1760px) {
    width: 50vw;
  }
}
.primary-media {
  position: relative;
  max-width: 1024px;
  max-height: 1024px;
  width: 100%;
  top: 0;
  align-self: center;

  @media screen and (min-width: 769px) {
    position: fixed;
    height: calc(100vh - 4rem);
    align-self: flex-end;
    top: 4rem;
    min-height: 42vw;
    width: auto;
  }

  @media screen and (min-width: 769px) and (max-aspect-ratio: 21/13) {
    width: calc(58vw - 4rem);
    height: calc(58vw - 4rem);
    align-self: center;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2rem;
  }

  // To deal with the 1024 max width on 42/58 splits
  @media screen and (min-width: 1760px) and (max-aspect-ratio: 21/12) {
    width: calc(58vw - 4rem);
    height: calc(58vw - 4rem);
    align-self: center;
    padding: 2rem;
    min-height: 780px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2rem;
  }

  // To deal with the 1024 max width on all views
  @media screen and (min-width: 2048px) {
    width: auto;
    height: calc(100vh - 4rem);
    align-self: center;
    padding: 2rem;
    min-height: 780px;
    top: 4rem;
  }
  @media screen and (min-width: 2048px) and (max-aspect-ratio: 21/10) {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2rem;
  }
}
