.media-wrapper {

  // shorter small desktop views
  @media screen and (min-width: 780px) {
    padding: 2.5rem;
  }
  // taller small desktop views
  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/9) {
    // padding: 2rem;
    // min-height: 0;
    width: 58.33%;
  }
  // tallest short desktop view
  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/10) {
    padding: 2rem;
  }
  // shorter medium desktop view
  @media screen and (min-width: 1080px) {
    padding: 2rem;
  }
  // taller medium desktop view
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {
    padding: 2rem;
  }
  //tallest medium desktop view
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/10) {
    padding: 2rem;
  }
  // large desktops
  @media screen and (min-width: 1460px) {
    padding: 2rem;
  }
  // large desktops with taller heights
  @media screen and (min-width: 1460px) and (max-aspect-ratio: 16/8) {
    width: 58.33%;
  }

}
.primary-media {
  // mobile
  width: 100%;
  height: 0; // weird trick to make bg image behave as inline image
  padding-top: 100%;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: top;
  background-repeat:no-repeat;

  // tablet-portrait
    // no change

  // shorter height small desktop
  @media screen and (min-width: 780px) {
    background-size: contain;
    background-repeat:no-repeat;
    background-position-x: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  // taller height small desktop
  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/10) {
    background-position-x: right;
    background-position-y: top;
  }

  // medium desktop, shorter views
  @media screen and (min-width: 1080px) {
    background-position-x: 50%;
  }
  // medium desktop, taller views
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {
    background-position-x: right;
  }
  // large desktops
   @media screen and (min-width: 1460px) {
     background-position-x: right;
     background-position-y: top;
   }
}
