// The below works as follows
// Mobile view, the media is full width. Single column content
// Tablet portrait view (540px-769px), the media is 85% width with equal space around. Single column content
// Small desktop view (780-1079px)
//   Shorter than 12:7 is a 5col-7col content-media split, media is full width and height, min-height 480px
//   12:7 and taller is same split, but media is 'floated'
// Medium desktop view (1080-1399px)
//   Shorter than 12:7 is same as above, but with a min-height of 540px
//   12:7 and taller, it becomes a 50-50 split and media is 'floated'
// Large desktop view (1400px+)
//   layout is adjusted to a max-width of 1380, media has min-heigh of 690
//   media is floated to the right of container, not browser at all heights

.header-toolbar {
  height: 4rem;
  position: relative;
  @media screen and (min-width: 780px) {
    width: 100%;
    position: fixed;
    z-index: 1;
    &__logo {
      text-transform: uppercase;
      font-size: 14px;
      padding-top: 1.2rem;
      padding-left: 1rem;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
  @media screen and (min-width: 1460px) {
    // in case we want to contain the header too
    // width: 1440px;
    // left: 50%;
    // margin-left: -720px;
  }
}

.rsvp-button {
  position: fixed;
  left: 3rem;
  bottom: 3rem;
}

.two-columns { // to extend to full height of screen
  min-height:100vh;
  width:100%;
  display: flex;
  flex-direction: row;
  @media (min-width:768px) {
  }
}



.blocks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }
  @media screen and (min-width: 768px) and (max-aspect-ratio: 16/9) {
    flex-basis: 42%;
  }
  .block {
    display: flex;
    flex-direction: column;
    &.basic-info {
      min-height: 66vh;
      &__title {
        align-self: center;
      }
    }
  }
}

.media-wrapper {
  display:flex;
  flex:1;
  justify-content:flex-start;
  align-items:flex-start;
  flex-flow:column nowrap;
  background-color: lighten($background-color, 7%);
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }
  @media screen and (min-width: 768px) and (max-aspect-ratio: 16/9) {
    flex-basis: 58%;
  }
}
.primary-media {
  position: fixed;
  max-width:58vw;
  max-height: 58vw;
  min-height: 42vw;
  top: 4rem;
  right: 0;
  height: calc(100vh - 4rem);

  @media screen and (min-width: 768px) and (max-aspect-ratio: 16/6) {
  }
  @media screen and (min-width: 768px) and (max-aspect-ratio: 16/9) {
  }
}
