///// Vista vibe experiment

// Vibe base colors

$vibe-base-color: #EDE4DE;
//hsl(321, 54%, 75%)

// Designer overrides
$text-color: #38501e;
$rsvp-background: #f9f1ea;

// Fixed colors
$header-color-2: #FFF;

// Generated
$background-color: saturate( lighten( $vibe-base-color, 0% ), 0% );
$background-color-alt: lighten( $background-color, 5% );
$header-color-1: #7d7a78;
$header-background: #cdc6bf;
//$header-color-1: desaturate( darken( $vibe-base-color, 5% ), 20% );
//$header-background: saturate( lighten( $vibe-base-color, 25% ), 20%);
$rsvp-text: #892645;


@mixin heading {
  font-family: Perpetua Titling;
  font-size: 3rem;
  line-height: 2.75rem;
  margin-bottom: 2rem;
  text-align: center;
}

@mixin page-heading {
  @include heading;
  font-size: 3rem;
}
@mixin subheading {
  font-family: Trade Gothic Bold Ext;
  font-weight: 100;
  font-size: 0.75rem;
  letter-spacing: 3px;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
}

@mixin text {
  font-family: Bembo;
  font-weight: 100;
  font-size:  1.375rem;
  // letter-spacing: .5px;
  line-height: 2rem;
  text-align: center;
  justify-content: center;
  // padding: 0 3.5rem;
}

@mixin link {
  //blah blah
}



.vista {
  &.wrapper--go {
    background-color: lighten( $background-color, 7% );
  }

  background-color: $background-color;
  color: $text-color;

  .header-toolbar {
    background-color: $header-background;
    &__logo {
      color: $header-color-1;
    }
  }

  .two-columns {
    background-color: $background-color;
  }

  .block {
    position: relative;

    &:nth-child(-n+2) {

      // divider dots
      &:after {
        background-color: #892645;
        height: 5px;
        width: 5px;
        content: "";
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 2.5px);
        margin-top: 7rem;

        @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {
           left: calc(35% - 2.5px);
        }
      }

    }

  }



  .basic-info {
    margin-top:4rem;
    margin-bottom: 8rem;

    &__title {
      @include page-heading;
      margin-top: 1rem;
      @media screen and (min-width: 780px) {
      margin-top: 4rem;
      margin-bottom: 3rem;
      }
    }
    &__host {
      @include subheading;
      margin-bottom: 3rem;
    }
    &__short-description {
      @include text;
      margin-bottom: 3rem;
    }
    &__date {
      @include subheading;
    }

    &__date a {
      color: white;
    }

    &__time {
      @include subheading;
      margin-top: 0.25rem;

    }
    &__address {
      @include subheading;
      margin-top: 0.25rem;
    }

    &__address a {
      color: $text-color;
    }

  }

  .rsvp-button {
    width: 60px;
    height: 60px;
    background-color: $rsvp-background;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.24);
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding-top: 1rem;
    font-family: Trade Gothic Bold Ext;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid $rsvp-text;
    text-indent: 12px;
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    z-index: 1;
  }

  .text-block {
    padding-top: 2rem;
    margin-bottom: 8rem;
    &__title {
      @include heading;
    }
    &__text {
      @include text;
      margin-top: 4rem;
    }

  }

  .guestlist {
    padding-top: 2rem;
    margin-bottom: 5rem;
    &__title {
      @include heading;
    }
    &__guests {
      margin-top: 4rem;
      @include text;
      li {
        display: inline-block;
        width: 50%;
      }
    }
  }
  .footer {
    padding: 4rem auto 2rem auto;
    border-top: 1px solid $text-color;
    z-index: 0;

    &__logo {
      width: 8rem;
      display: block;
      height: auto;
      margin: auto;
      fill: currentColor;
    }
    &__list-items {
      font-size: 0.875rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}


// animations

@mixin fadeIn {
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

@mixin fadeInMoveUp {
  @keyframes fadeInMoveUp {
    0% { opacity: 0; top: 2rem; }
    100% { opacity: 1; top: 0; }
  }
}

@mixin moveInFromLeft {
  @keyframes moveInFromLeft {
    0% { right: 1rem; }
    100% { right: 0rem; }
    }
  }

// Stage 1 - animate in background color and toolbar BG, while loader plays

//// background color
.vista .two-columns {
  animation: fadeBGColorIn 1.25s ease-in-out;
  animation-fill-mode: forwards;
  @keyframes fadeBGColorIn {
    from { background-color: #fff; }
    to   { background-color: $background-color; }
  }
}

//// toolbar background color
.header-toolbar {
  animation: fadeToolbarBGIn 1.25s ease-in-out;
  animation-fill-mode: forwards;
  @keyframes fadeToolbarBGIn {
    from { background-color: #fff; }
    to { background-color: $header-background; }
  }
}

.group {
  position: absolute;
  width: 64px;
  height: 48px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  line-height: 16px;
  z-index: 9;

  opacity: 0;
  animation: fadeIn 0.75s ease-in-out;
  animation-fill-mode: forwards;
  @include fadeIn;
}

.square {
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0.2);
}

.first {
  left: 0px;
  top: 0px;
  // opacity: 0;
  animation-name: moveSquareOne, fadeSquareOneOut;
  animation-duration: 1.5s, 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s, 4.5s;
  animation-iteration-count: 3, 1;
}

.second {
  left: 40px;
  top: 0px;
  // opacity: 0;
  animation: moveSquareTwo, fadeSquareTwoOut;
  animation-duration: 1.5s, 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s, 4.5s;
  animation-iteration-count: 3, 1;
}

@keyframes moveSquareOne {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 40px;
    top: 0;
  }
  66% {
    left: 16px;
    top: 18px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes fadeSquareOneOut {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -8px;
    opacity: 0;
  }
}

@keyframes moveSquareTwo {
  0% {
    left: 40px;
    top: 0;
  }
  33% {
    left: 0px;
    top: 0;
  }
  66% {
    left: 16px;
    top: -18px;
  }
  100% {
    left: 40px;
    top: 0;
  }
}

@keyframes fadeSquareTwoOut {
  0% {
    left: 40px;
    opacity: 1;
  }
  100% {
    left: 48px;
    opacity: 0;
  }
}

 // Stage 2 - animate in image, title, toolbar content

//// toolbar content
 [class*="header-toolbar__"] {
   animation: fadeIn 1.25s ease-in-out;
   animation-delay: 4.5s;
   animation-fill-mode: forwards;
   @include fadeIn;
 }

 //// image
.media-wrapper {
  opacity: 0;
  animation-name: fadeIn, moveInFromLeft;
  animation-duration: 0.85s, 0.85s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 5s, 5s;
  animation-fill-mode: forwards;
  @include fadeIn;
  @include moveInFromLeft;
  z-index: 2;
}

//// Title
.basic-info__title {
  opacity: 0;
  position: relative;
  animation-name: fadeIn, moveInFromLeft;
  animation-duration: 0.75s, 0.75s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 5.5s, 5.5s;
  animation-fill-mode: forwards;
  @include fadeIn;
  @include moveInFromLeft;
}

.rsvp-button {
  width: 60px;
  height: 60px;
  left: 2rem;
  color: rgba($rsvp-text, 0);
  animation-name: moveButton, buttonOpen, buttonTextColor;
  animation-duration: 0.25s, 0.65s, 0.5s;
  animation-delay: 5s, 5.1s, 5.65s;
  animation-fill-mode: forwards;
  @keyframes buttonOpen {
    0% { width: 60px; }
    100% { width: 150px; }
  }
  @keyframes moveButton {
    0% { left: 2rem; }
    100% {left: 3rem; }
  }
  @keyframes buttonTextColor {
    0% { color: rgba($rsvp-text, 0); }
    100% { color: rgba($rsvp-text, 1); }
  }
}

// Stage 3 - animate blocks in one at a time
.basic-info__host, .basic-info__short-description, .basic-info__date, .basic-info__time, .basic-info__address {
  opacity: 0;
  position: relative;
  animation: fadeInMoveUp 1.0s ease-in-out;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  @include fadeInMoveUp;
  }

.text-block {
  animation: fadeInMoveUp 1.0s ease-in-out;
  animation-delay: 5.75s;
  animation-fill-mode: forwards;
  @include fadeInMoveUp;
}
