///// Vista vibe experiment

// Vibe base colors

$vibe-base-color: #A882BF;
//hsl(321, 54%, 75%)

// Designer overrides
$text-color: #803B60;
$rsvp-background: #DBF4EA;

// Fixed colors
$header-color-2: #FFF;

// Generated
$background-color: saturate( lighten( $vibe-base-color, 0% ), 0% );
$background-color-alt: lighten( $background-color, 5% );
$header-color-1: #DFAA9C;
$header-background: $background-color-alt;
//$header-color-1: desaturate( darken( $vibe-base-color, 5% ), 20% );
//$header-background: saturate( lighten( $vibe-base-color, 25% ), 20%);
$rsvp-text: $text-color;


@mixin heading {
  font-family: Golden Plains;
  font-size: 5rem;
  line-height: 6rem;
  margin-bottom: 2rem;
}

@mixin page-heading {
  @include heading;
  font-size: 6rem;
}
@mixin subheading {
  font-family: FuturaLTPRo-book;
  font-weight: 100;
  font-size: 0.875rem;
  letter-spacing: 3px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

@mixin text {
  font-family: FuturaLTPRo-book;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 1.5rem;
}

.vista {
  &.wrapper--go {
    background-color: lighten( $background-color, 7% );
  }

  background-color: $background-color;
  color: $text-color;

  .header-toolbar {
    background-color: $header-background;
    &__logo {
      color: $header-color-1;
    }
  }

  .two-columns {
    background-color: $background-color;
  }

  .basic-info {
    &__title {
      @include page-heading;
      margin-top: 1rem;
      @media screen and (min-width: 780px) {
        margin-top: 4rem;
      }
    }
    &__host {
      @include subheading;
      margin-left: 16.67%;
      margin-top: 2rem;
    }
    &__short-description {
      @include text;
      margin-left: 16.67%;
      margin-top: 2rem;
    }
    &__date {
      @include subheading;
      margin-left: 16.67%;
      margin-top: 2rem;
    }

    &__date a {
      color:white;
    }

    &__time {
      @include subheading;
      margin-left: 16.67%;
      margin-top: 0.25rem;
    }
    &__address {
      @include subheading;
      margin-left: 16.67%;
      margin-top: 0.25rem;
    }
  }

  .rsvp-button {
    width: 150px;
    height: 60px;
    background-color: $rsvp-background;
    color: $rsvp-text;
    border-radius: 80px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.24);
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding-top: 1rem;
    font-family: FuturaLTPRo-book;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: bold;
  }

  .text-block {
    padding-top: 2rem;
    &__title {
      @include heading;
    }
    &__text {
      @include text;
      margin-top: 2rem;
    }
  }

  .guestlist {
    padding-top: 2rem;
    &__title {
      @include heading;
    }
    &__guests {
      @include text;
      li {
        display: inline-block;
        width: 50%;
      }
    }
  }
  .footer {
    padding: 4rem auto 2rem auto;
    &__logo {
      width: 8rem;
      display: block;
      height: auto;
      margin: auto;
      fill: currentColor;
    }
    &__list-items {
      font-size: 0.875rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
