// Color striping
.block:nth-child(even) {
  background-color: $background-color-alt;
}

.vista {
  &.wrapper--go {
    background-color: $background-color;
  }
}

.two-columns {
  width: 100%;
  // at large screens create max-width
  @media screen and (min-width: 1460px) {
    max-width: none;
    margin: auto;
    position: relative;
    //box-shadow: 0 2px 12px rgba(0,0,0,0.15);
    // transform: translateZ(0); // this sets fixed child elements to fix to its parent, not window, apparently
    // unfortuantely the above also gets rid of fixed scroll behavior :/
  }
}


.blocks-list { // just structural info here

  @media screen and (min-width: 780px) {
    width: calc(50% + 6rem); // this random hacky thing is to make the stripes extend to the edge of the image on certain views. don't judge plz.
    .block {
      padding-right: calc(8% + 6rem);
    }
  }
  // taller height small-desktop views
  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/9) {
    width: calc(41.67% + 6rem);
    .block {
      padding-right: calc(12% + 6rem);
    }
  }
  // short medium desktop view
  @media screen and (min-width: 1080px) {
    width: 50%;
    .block {
      padding: 2rem 12% 2rem 12%;
    }
  }

  // taller height medium desktop view
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {
    width: calc(50% + 12rem);
    .block {
      padding-right: calc(16% + 12rem);
    }
  }
  // large desktops, taller views
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/10) {
    width: 41.67%;
    .block {
      padding-right: 16%;
    }
  }

  // large desktops
  @media screen and (min-width: 1460px) {
    margin: auto;
    .block {
    }
  }
  // large desktops, taller views
  @media screen and (min-width: 1460px) and (max-aspect-ratio: 16/8) {
    width: 41.67%;
    .block {
      padding: 2rem 8% 1.5rem 8%;
    }
  }
}


.media-wrapper {
  //mobile
  position: relative;
  top: 0;
  z-index: 1;
  @media screen and (min-width: 540px) {
    width: 100%;
    padding: 4% 8% 0 8%;
    margin: auto;
  }
  // shorter small desktop views
  @media screen and (min-width: 780px) {
    position: fixed;
    padding: 2rem;
    top: 4rem;
    right: 0;
    height: calc(100vh - 4rem);
    width: auto;
    display: -webkit-box;
    min-height: 450px;
    background-color: lighten($background-color, 7%);
  }
  // taller small desktop views
  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/9) {
    // padding: 2rem;
    // min-height: 0;
    width: auto;
    padding: 0;
  }
  // tallest short desktop view
  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/10) {
    padding: 2rem;


  }
  // shorter medium desktop view
  @media screen and (min-width: 1080px) {
    padding: 2rem;
    width: auto;
    min-height: 540px; // This is from the max width at this breakpoint, 1460, at 5/12 columns, a kind of minimum
    background-color: lighten($background-color, 7%);
  }
  // taller medium desktop view
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {

  }
  //tallest medium desktop view
  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/10) {

  }
  // large desktops
  @media screen and (min-width: 1680px) {
    width: 50%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    float: right;
    position: relative;
    padding: 2rem;
    min-height: 672px; // 1460 divided by 16:7?
    background-color: lighten($background-color, 7%);
    background-size: contain;
    top: 0;
  }
  // large desktops with taller heights
  @media screen and (min-width: 1680px) and (max-aspect-ratio: 16/8) {
    width: 58.33%;
  }
}


.primary-media {

  @media screen and (min-width: 780px) {
    position: fixed;
    top: 4rem;
    right: 0;
    bottom: 0;
    height: calc(100vh - 4rem);
    max-width: 50vw;
    min-height: 450px;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
    background-color: lighten($background-color, 7%);
  }

  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/9) {
    max-width: 58.33vw;
    background-size: contain;
    background-size: 86%;
  }

  @media screen and (min-width: 780px) and (max-aspect-ratio: 16/10) {
  }

  @media screen and (min-width: 1080px) {
    min-height: 540px;
    background-position-x: 50%;
    background-position-y: 50%;
    max-width: 50vw;
    background-size: 80%;
    background-color: lighten($background-color, 7%);
    //background-size: calc(100vh - 6rem);
  }

  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {
    max-width: 58.33vw;
    background-size: contain;
    background-size: 86%;
  }

  @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/10) {
    background-size: 92%;
  }

  // large desktops
   @media screen and (min-width: 1680px) {
     min-height: 672px;
     background-position-x: 50%;
     background-position-y: 50%;
     max-width: 50vw;
     background-color: lighten($background-color, 7%);
     background-size: contain;
     position: sticky;
     right: auto;
     bottom: auto;
     height: auto;
   }
   @media screen and (min-width: 1680px) and (max-aspect-ratio: 16/8) {
      width: 85%;
      margin: auto;
    }
  }
