// Color striping
.block:nth-child(even) {
  background-color: $background-color-alt;
}


// turn this on/off to make the stripes "stretch" on cover states and pad on floated states

.blocks-list {
  .block {

    @media screen and (min-width: 780px) and (max-aspect-ratio: 16/10) {
      margin-left: 1.5rem;
    }

    // short medium desktop view
    @media screen and (min-width: 1080px) {
      margin-left: 1.5rem;
    }

    @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/8) {
      margin-left: 0;
    }

    // taller height medium desktop view
    @media screen and (min-width: 1080px) and (max-aspect-ratio: 16/10) {
      margin-left: 1.5rem;
    }

    // large desktops
    @media screen and (min-width: 1460px) {
      margin-left: 1.5rem;
    }
  }
}
