///// Vista vibe experiment

// Vibe base colors

$vibe-base-color: #f8d6cd;
//hsl(321, 54%, 75%)

// Designer overrides
$text-color: #3d5f75;
$rsvp-background: #DBF4EA;

// Fixed colors
$header-color-2: #FFF;

// Generated
$background-color: saturate( lighten( $vibe-base-color, 0% ), 0% );
$background-color-alt: lighten( $background-color, 5% );
$header-color-1: #DFAA9C;
$header-background: $background-color-alt;
//$header-color-1: desaturate( darken( $vibe-base-color, 5% ), 20% );
//$header-background: saturate( lighten( $vibe-base-color, 25% ), 20%);
$rsvp-text: $text-color;



@mixin heading {
  font-family: Golden Plains;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: center;
  font-size: calc(42px + 72 * (100vw - 835px) / (1920 - 835));
  // Scales by 1px for every 100px from 600px to 1000px
  // https://zellwk.com/blog/viewport-based-typography/
}

@mixin subheading {
  font-family: FuturaLTPRo-book;
  font-weight: 100;
  font-size: 0.875rem;
  letter-spacing: 3px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

@mixin text {
  font-family: FuturaLTPRo-book;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 1.5rem;
}

$section-max-width: 600px;

.vista {
  &.wrapper--go {
    background-color: $background-color;
  }
  color: $text-color;

  .header-toolbar {
    &__logo {
      color: $header-color-1;
    }
  }

  .two-columns {
    .media-wrapper {
      background-color: $background-color;
    }
  }

.block {
  width: 100%;
  align-items: center;

  &:nth-child(even) {
    background-color: $background-color-alt;
  }
}

  .basic-info {
    padding-bottom: 3rem;
    @media screen and (min-width: 840px) {
      padding-bottom: 4rem;
    }
    & > * {
      max-width: $section-max-width;
    }
    &__title {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      @include heading;
      margin-top: 1rem;
      text-align: center;
      @media screen and (min-width: 840px) {
        margin-top: 4rem;
      }
    }
    &__host {
      @include subheading;
      align-self: flex-start;
      margin-left: 16.67%;
      margin-top: 2rem;
      padding: 0 8%;
    }
    &__short-description {
      @include text;
      align-self: flex-start;
      margin-left: 16.67%;
      margin-top: 2rem;
      padding: 0 8%;
    }
    &__date {
      @include subheading;
      align-self: flex-start;
      margin-left: 16.67%;
      margin-top: 2rem;
      padding: 0 8%;
    }

    &__date a {
      color:white;
    }

    &__time {
      align-self: flex-start;
      @include subheading;
      margin-left: 16.67%;
      margin-top: 0.25rem;
      padding: 0 8%;
    }
    &__address {
      align-self: flex-start;
      @include subheading;
      margin-left: 16.67%;
      margin-top: 0.25rem;
      padding: 0 8%;
    }
  }

  .rsvp-button {
    background-color: $rsvp-background;
    border-radius: 80px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.24);
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding-top: 1rem;
    font-family: FuturaLTPRo-book;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
  }

  .text-block {
    padding-bottom: 3rem;
    & > * {
      max-width: $section-max-width;
    }

    position: relative;
    padding-top: 3rem;
    &__title {
      @include heading;
      text-align: center;
      padding: 0 8%;
    }
    &__text {
      @include text;
      margin-left: 16.67%;
      margin-top: 2rem;
      padding: 0 8%;
      align-self: flex-start;
    }
  }

  .guestlist {
    padding-top: 3rem;
    padding-bottom: 3rem;

    & > * {
      max-width: $section-max-width;
    }

    &__title {
      @include heading;
      text-align: center;
    }
    &__guests {
      @include text;
      li {
        display: inline-block;
        width: 50%;
      }
    }
  }
  .footer {
    padding: 4rem auto 2rem auto;
    &__logo {
      width: 8rem;
      display: block;
      height: auto;
      margin: auto;
      fill: currentColor;
    }
    &__list-items {
      font-size: 0.875rem;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

// animations

@mixin fadeIn {
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

@mixin fadeInMoveUp {
  @keyframes fadeInMoveUp {
    0% { opacity: 0; transform: translateY(1rem); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

// Stage 1 - animage background colors in

.vista .block {
  background-color: #fff;
  animation: fadeBGColorIn 1.25s ease-in-out;
  animation-fill-mode: forwards;
  @keyframes fadeBGColorIn {
    from { background-color: #fff; }
    to   { background-color: $background-color; }
  }
}

.vista .block:nth-child(even) {
  background-color: #fff;
  animation: fadeAltBGColorIn 1.25s ease-in-out;
  animation-fill-mode: forwards;
  @keyframes fadeAltBGColorIn {
    from { background-color: #fff; }
    to   { background-color: $background-color-alt; }
  }
}

.vista .media-wrapper {
  @media screen and (min-width: 840px) {
    animation: fadeMediaColorIn 1.25s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes fadeMediaColorIn {
      from { background-color: #fff; }
      to   { background-color: lighten($background-color, 7%); }
    }
  }
}

.header-toolbar {
  animation: fadeToolbarBGIn 1.25s ease-in-out;
  animation-fill-mode: forwards;
  @keyframes fadeToolbarBGIn {
    from { background-color: #fff; }
    to { background-color: $header-background; }
  }
}


 // Stage 2 - toolbar content, info and text blocks

//// Title

//// toolbar content
 [class*="header-toolbar__"] {
   opacity: 0;
   animation: fadeIn 0.75s ease-in-out;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   @include fadeIn;
 }
.basic-info__title {
  opacity: 0;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  @include fadeIn;
}

.basic-info__host, .basic-info__short-description, .basic-info__date, .basic-info__time, .basic-info__address {
  opacity: 0;
  position: relative;
  animation: fadeInMoveUp 1.0s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  @include fadeInMoveUp;
  }

.text-block > * {
  opacity: 0;
  animation: fadeInMoveUp 1.0s ease-in-out;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  @include fadeInMoveUp;
}

.guestlist > * {
  opacity: 0;
  animation: fadeInMoveUp 1.0s ease-in-out;
  animation-delay: 2.0s;
  animation-fill-mode: forwards;
  @include fadeInMoveUp;
}

.footer > * {
  opacity: 0;
  animation: fadeInMoveUp 1.0s ease-in-out;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
  @include fadeInMoveUp;
}



// Stage 3 - animate image in

//// image
.primary-media {
 opacity: 0;
 animation-name: fadeIn;
 animation-duration: 1.0s;
 animation-timing-function: ease-in-out;
 animation-delay: 2.5s;
 animation-fill-mode: forwards;
 @include fadeIn;
}


// Stage 4 - RSVP button

.rsvp-button {
  width: 150px;
  height: 60px;
  opacity: 0;
  animation-name: fadeInButton;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  @keyframes fadeInButton {
    0% {
      transform: translateX(-1rem);
      opacity: 0
    }
    100% {
      transform: translateX(0rem);
      opacity: 1;
    }
  }

}

/// loading blocks:
// .group {
//   position: absolute;
//   width: 64px;
//   height: 48px;
//   margin: auto;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: inline-block;
//   line-height: 16px;
//   z-index: 9;
//
//   opacity: 0;
//   animation: fadeIn 0.75s ease-in-out;
//   animation-fill-mode: forwards;
//   @include fadeIn;
// }
//
// .square {
//   position: absolute;
//   width: 32px;
//   height: 32px;
//   background: rgba(0,0,0,0.2);
// }
//
// .first {
//   left: 0px;
//   top: 0px;
//   // opacity: 0;
//   animation-name: moveSquareOne, fadeSquareOneOut;
//   animation-duration: 1.5s, 0.5s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-in-out;
//   animation-delay: 0s, 4.5s;
//   animation-iteration-count: 3, 1;
// }
//
// .second {
//   left: 40px;
//   top: 0px;
//   // opacity: 0;
//   animation: moveSquareTwo, fadeSquareTwoOut;
//   animation-duration: 1.5s, 0.5s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease-in-out;
//   animation-delay: 0s, 4.5s;
//   animation-iteration-count: 3, 1;
// }

// stage 1 - fade in color bg

//// The square loader
// @keyframes moveSquareOne {
//   0% {
//     left: 0;
//     top: 0;
//   }
//   33% {
//     left: 40px;
//     top: 0;
//   }
//   66% {
//     left: 16px;
//     top: 18px;
//   }
//   100% {
//     left: 0;
//     top: 0;
//   }
// }
//
// @keyframes fadeSquareOneOut {
//   0% {
//     left: 0;
//     opacity: 1;
//   }
//   100% {
//     left: -8px;
//     opacity: 0;
//   }
// }
//
// @keyframes moveSquareTwo {
//   0% {
//     left: 40px;
//     top: 0;
//   }
//   33% {
//     left: 0px;
//     top: 0;
//   }
//   66% {
//     left: 16px;
//     top: -18px;
//   }
//   100% {
//     left: 40px;
//     top: 0;
//   }
// }
//
// @keyframes fadeSquareTwoOut {
//   0% {
//     left: 40px;
//     opacity: 1;
//   }
//   100% {
//     left: 48px;
//     opacity: 0;
//   }
// }

// stage 1 - fade in bg
//// background color
