@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Basis Grotesque,Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

// future todo: load css conditionally
@import "action-bar";

@import "vista";

@import "fifty-fifty-structure-v2";

@import "editor";

//@import "vista-stripe-v2";
