---
title: Flyer Editor
layout: editor
---

= partial 'partials/main-action-bar'

.main-page
  = partial 'partials/editor-left-drawer'

  -# .preview-area
  .flyer-preview
    .flyer-preview__browser-chrome
    .flyer-preview__content
      %iframe{src:"flyer_go.html"}
